

/* Color Theme Swatches in HSLA */
$toprak: hsla(338, 14, 47, 1);
$gul3: hsla(337, 35, 64, 1);
$gul4: hsla(331, 34, 48, 1);
$gul2: hsla(339, 55, 84, 1);
$gul1: hsla(333, 39, 90, 1);
/* Color Theme Swatches in Hex */
$sarı2: #F29422;
$sarı1: #F2CA99;
$sarı3: #F2811D;
$turuncu1: #D94B2B;
$turuncu2: #BF3030;



