@import "../../sass/variables";
.cards{



.title{


}

img{
    width: 500px;
    height: 350px;
    object-fit: cover;
filter: grayscale(0);
&:hover{
    filter: grayscale(100);
}

}
.desc{




}



}