@import "../../sass/variables","../../sass/mixin";
.navbar{
    background-color: $toprak;
    padding: 2rem;
    display: flex;
    justify-content: space-evenly;
    a{
        text-decoration: none;
        padding: 0.5rem;
        font-size: 1.5rem;
        border-radius: 10px;
        font-weight: 600;
        color: $gul1;
        transition: ease-in-out 0.5s;

        &:hover{
            background-color: $gul1;
            color: $toprak;
            transform: scale(1.1);
            font-size: 1.6rem;
            font-weight: 700;
        }
        
    }
}
@include media-xsm{
    .navbar{
        flex-direction: column;
        text-align: center;
    }
}
@include media-sm{
    .navbar{
        flex-direction: row;
        text-align: center;
    }
}